:root {
  --_colors---fg-primary: #111;
  --_colors---fg-tertiary: #969696;
  --_colors---bg-primary: white;
  --_colors---fg-secondary: #505050;
  --_colors---bg-secondary: #e8e8e8;
  --_colors---state-hover: #0000000d;
  --_colors---state-active: #00000017;
  --_colors---link-active: #01477f;
  --_colors---bg-tertiary: #a5a5a5;
  --_colors---bg-contrast: #222;
  --_colors---link-normal: #0168bb;
  --_colors---link-hover: #015599;
  --_colors---link-visited: #630038;
}


/* Switcher */

.switcher__radio {
    filter: invert(0);
}

.switcher__radio:checked {
    filter: invert(1);
}

.switcher__status {
    filter: invert(0);
}